<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=project.owner.username) }}">
                <img src="{{ project.owner.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=project.owner.username) }}">
                {{ project.owner.username }}
            </a>
            created {{ moment(project.timestamp).fromNow() }}:
            <br>{{ project.project_name }}
        </td>
    </tr>
</table>